.task-group-tree-class {
  :global {
    .ant-tree-switcher {
      display: none;
    }
  }
  .title-render-item {
    display: flex;
    justify-content: space-between;
    &:hover {
      .title {
        .operate {
          display: block;
        }
      }
    }
    .title {
      flex: 1;
      display: flex;
      flex-direction: row;
      gap: 6px;
      .operate {
        display: none;
      }
      .operate-edit {
        &:hover {
          color: #40a9ff;
        }
      }
      .operate-del {
        &:hover {
          color: red;
        }
      }
    }
  }
}
.task-group-spin-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  .task-group-tree {
    padding: 8px;
    flex: 1;
  }
  .task-group-header {
    padding: 4px;
    border-bottom: 1px solid rgb(240, 240, 240);
  }
  :global {
    .ant-spin-container {
      flex-grow: 1;
      display: flex;
      flex-flow: column;
      height: 100%;
    }
  }
}

.sass-tabs-viewer-table-head {
  .select-title {
    flex: 1;
  }
  .filter {
    width: 365px;
  }
}

.saas-period-viewer {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .filter-box {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    .form-item {
      margin-bottom: 12px;
    }
    .filter-btn {
      margin-bottom: 12px;
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }
  .sass-tabs-viewer-tree-box {
    border: 1px solid rgb(240, 240, 240);
    height: 100%;
    border-radius: 2px;
  }
  .table-box {
    height: 100%;
    overflow: auto;
  }
}
