.drawer-container {
    .ant-drawer-header {
        background: var(--irify-bg-container);
        border-bottom: 1px solid var(--irify-border);
    }
    .ant-drawer-footer {
        background: var(--irify-bg-container);
        border-top: 1px solid var(--irify-border);
    }
    .ant-drawer-body {
        padding: 16px !important;
        background-color: var(--irify-bg-base);
    }
}
