.report-email-wrapper .ant-modal-content {
    background: #ffffff;
    box-shadow: 0px 2px 4px 0px rgba(153, 158, 168, 0.3);
    border-radius: 4px;
    border: 1px solid rgba(230, 234, 239, 0.5);
}
.report-email-wrapper .ant-modal-body {
    padding: 24px 24px 12px 24px;
}

.report-email-wrapper .report-email-body .email-report-form-btn {
    text-align: right;
}
.report-email-wrapper .report-email-body .email-report-form-btn .ant-btn + .ant-btn {
    margin-left: 12px;
}
