// ========================== Switch ==========================
@keyframes yakitFadeEffectSwitch {
    100% {
        opacity: 0;
    }
}

@keyframes yakitWaveEffectSwitch {
    100% {
<<<<<<< HEAD
        box-shadow: 0 0 0 2px var(--Colors-Use-Blue-Primary);
    }
}
=======
        box-shadow: 0 0 0 2px var(--Colors-Use-Main-Primary);
    }
}
>>>>>>> 38104b8 (feat: 引入yakit控件)
