.assetsPorts-page-wrapper {
  .assetsPorts-search-conditions {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    margin-bottom: 15px;
  }
  .assetsPorts-export {
    text-align: right;
    margin-bottom: 15px;
  }
}
