.new-palm-nodes-page{
    text-align: left;
    overflow-x: hidden;
}
.new-palm-nodes-page .control-box{
    display: flex;
    margin-bottom: 24px;
}
.new-palm-nodes-page .control-box .filter-box{
    flex: 1;
    display: flex;
}
.new-palm-nodes-page .control-box .filter-box .filter-input{
    display: flex;
    gap: 16px;
    padding-right: 16px;
}
.new-palm-nodes-page .control-box .filter-box .filter-button{
display: flex;
gap: 16px;
padding-right: 16px;
}
.point-log-details{
    line-height: 20px;
    word-break: break-word;
    overflow: hidden auto;
    white-space: pre-line;
    color: rgb(12,180,99);
    background-color: black;
    padding: 20px;
}