.div-left {
    text-align: left;
}

.sider {
    height: 100vh;
    text-align: left;
    overflow: auto;
    /*position: fixed;*/
    /*overflow: auto;*/
    left: 0;
}

.header {
    height: 80px;
    width: 100%;
    background: #ffffff;
    align-items: center;
    text-align: right;
    vertical-align: text-top;
    /*display: inline;*/
    padding-right: 50px;
    padding-left: 20px;
}

.main-menu{
    flex: 1;
    overflow: hidden auto;
}

.main-menu::-webkit-scrollbar { width: 0!important }

.logo {
    height: 40px;
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    /*color: #1890ff;*/
    color: cornflowerblue;
}

.routerlink {
    text-decoration: none;
    color: inherit;
}

.routerlink:hover {
    color: #ffffff;
}

.main-content {
    margin: 24px 16px;
    padding: 24px;
    background: #ffffff;
    min-height: 280px;
}

.main-content-no-padding{
    margin: 24px 16px;
    min-height: 280px;
}
