.site-tag-plus {
    background: #fff;
    border-style: dashed;
}

.edit-tag {
    user-select: none;
}

.tag-input {
    width: 78px;
    margin-right: 8px;
    vertical-align: top;
}

.input-multiple-box{
    position: relative;
}
.input-multiple-box .upload-text{
    cursor: pointer;
    position: absolute;
    right: -78px;
    top: 6px;
}
.input-multiple-box .upload-text .text:hover{
    color: #40a9ff;
}
.input-multiple-box .delete-icon-box{
    cursor: pointer;
    position: absolute;
    right: -106px;
    top: 8px;
}
.input-multiple-box .delete-icon-box .delete-icon:hover{
    color: red;
}
.input-multiple-box .delete-icon-box .delete-icon{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
}