.ant-form-item .ant-upload.ant-upload-drag.set-params-upload-dragger {
  background-color: #fff;
  border: none;
  .ant-upload-btn {
    padding: 0;
  }
}

.advance-ports-form .ant-form-item-control {
  background-color: #F8F8F8;
  padding-left: 15px;
}

.add-plugins-modal .ant-modal-header {
  border-bottom: none;
  padding: 0;
}

.add-plugins-modal .add-plugins-modal-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-plugins-modal .add-plugins-modal-cont .add-plugins-modal-cont-left {
  display: flex;
  gap: 8px;
}

.add-plugins-modal .add-plugins-modal-cont .add-plugins-modal-cont-left .add-plugins-modal-cont-title {
  font-size: 14px;
  font-weight: bold;
}

.add-plugins-modal .add-plugins-modal-cont .add-plugins-modal-cont-left .table-num-wrap {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.add-plugins-modal .add-plugins-modal-cont .add-plugins-modal-cont-left .table-num-wrap .table-num-text {
  color: #B4BBCA;
  margin-right: 5px;
}

.add-plugins-modal .add-plugins-modal-cont .add-plugins-modal-cont-left .table-num-wrap .table-num {
  color: #4A94F8;
}

.add-plugins-modal .add-plugins-modal-cont .add-plugins-modal-cont-right {
  display: flex;
  align-items: center;
}

.add-plugins-modal .add-plugins-modal-cont .add-plugins-modal-cont-right .ant-input-affix-wrapper {
  border-color: #EAECF3;
  border-radius: 4px;
  padding: 4px 8px;
}

.add-plugins-modal .add-plugins-modal-cont .add-plugins-modal-cont-right .add-plugins-modal-cont-search-icon {
  color: #85899E;
}

.add-plugins-modal .add-plugins-modal-check-wrap {
  display: flex;
  justify-content: space-between;
}

.add-plugins-modal .add-plugins-modal-check-wrap .add-plugins-modal-cont-clear-btn {
  padding: 0;
  font-size: 12px;
}

.add-plugins-modal .add-plugins-modal-cont-body {
  margin-top: 12px;
}